- set_meta_tags title: 'プロフィール', description: 'プロフィール画面'

= render "blogs/header"

.wrapper
  .profile-list
    .umi-box
      %h2 管理者：umi
      .profile-content
        .img-box
          = image_tag asset_path('IMG_1553.jpeg'), alt: 'umi画像', class: 'profile-img'
        .text-box
          %p こんにちは、駆け出しエンジニアのumiです。
          %p 未経験からエンジニアに転職しました！
          %p 前職は作業療法士として病院で勤務。
      .output-box
        %p インフラについて勉強中です。クラウドエンジニア目指しています！
        %p 発信ジャンル：自己啓発・プログラミング・マネー・健康

      .portfolio
        = link_to "詳しくはこちら", "https://petrouchka-umi.github.io/", class: "portfolio-show"

    .wataru-box
      %h2 ライター：KaWa
      .profile-content
        .img-box
          = image_tag asset_path('IMG_1355.jpeg'), alt: 'kawa画像', class: 'profile-img'
        .text-box
          %p こんにちは、KaWaです。
          %p 千葉県出身の23歳。現在は、作業療法士としてリハビリに従事しています。
          %p 管理者のumiと共にブログに挑戦！
      .text-body
        %p 現在は会社員として勤務していますが、ゆくゆくは会社に依存せず生きていけるようFIREを目指しいます。
        %p FIREって何？と思う方は、ぜひ記事をご覧下さい！
      .output-box
      %p 発信ジャンル：自己啓発・マネー・グルメ・健康・趣味
      %p 趣味：ドライブ・外食・読書


  = render 'blogs/side'

= render "blogs/footer"