= render "blogs/header"

.wrapper
  .profile-list
    .umi-box
      %h2 管理者：umi
      .profile-content
        .img-box
          -# %img.profile-img{:alt => "画像", :src => "AA2E0C32-7414-4A75-B541-FAB9757D9190_1_105_c.jpeg"}/
          = image_tag asset_path('IMG_1553.jpeg'), alt: 'umi画像', class: 'profile-img'
        .text-box
          %p こんにちは、駆け出しエンジニアのumiです。
          %p 未経験からエンジニアに転職しました！
          %p 前職は作業療法士として病院で勤務。
      .output-box
        %p 発信ジャンル：自己啓発・プログラミング・マネー・健康

      .portfolio
        = link_to "詳しくはこちら", "https://petrouchka-umi.github.io/", class: "portfolio-show"
              
    .wataru-box
      %h2 ライター：wataru
      .profile-content
        .img-box
          = image_tag asset_path('IMG_1355.jpeg'), alt: 'wata画像', class: 'profile-img'
        .text-box
          %p こんにちは、作業療法士のwataruです。
          %p 
          %p
      .output-box
      %p 発信ジャンル：自己啓発・マネー・グルメ・健康・趣味
    


= render "blogs/footer"