.blog-content
  = link_to blog_path(blog) do
    .blog-box
      .blog-image
        = image_tag blog.image.url, class:'img-fluid' 
      .blog-nav
        .blog-time
          = blog.created_at.strftime("%Y年%m月%d日")
        .blog-title
          = blog.title
        .blog-category
          = blog.category.name 
        .blog-tags
          = render 'blogs/tag_list', tag_list: blog.tag_list
        .blog-user
          = blog.user.name