%header
  #1.header-box
    = link_to root_path ,calss: "blog-title" do
      %h1 Umi-Blog
    
    .nav
      - if current_user
        .admin-name
          = current_user.name
        .blog-new-btn
          = link_to '新規記事作成', new_blog_path, class: "new-post"
        .admin-logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "new-post"

  .header-contents
    .header-image
      = image_tag asset_path('IMG_6258.png'), alt: 'header-img', class: 'header-img'
    .header-lists
      %ul.header-list
        %li 
          = link_to "ホーム", root_path
        %li 
          = link_to "プロフィール", profiles_path
        %li 
          = link_to "カテゴリ一覧", categories_path
        %li 
          = link_to "タグ一覧", tag_list_blogs_path
        %li 
          = link_to "お問い合わせ", new_contact_path