.side-contents
  .search-box
    .search-comment 記事検索
    = form_with url: search_blogs_path, method: :get, class: "search_form", local: true do |f|
      = f.text_field :title_key, class: "search-input"
      %button{type: "submit", class: "submit"}
        .search-icon.fas.fa-search

  .profile-box
    .side-img-box
      = image_tag asset_path('IMG_2157.jpeg'), alt: 'umi画像', class: 'umi-img'
    .img-box
      = image_tag asset_path('IMG_1553.jpeg'), alt: 'umi画像', class: 'profile-img'
    .text-box
      管理者：
      %span.name umi
      %br
      ●駆け出しエンジニア
      %br
      インフラ勉強中！！
    .parson-box
    .side-img-box
      =  image_tag asset_path('IMG_1357.jpeg'), alt: 'wata画像', class: 'wata-img'
    .img-box
      = image_tag asset_path('IMG_1355.jpeg'), alt: 'kawa画像', class: 'profile-img'
    .text-box
      ライター：
      %span.name KaWa
      %br
      ●作業療法士
      %br
      投資勉強中！!！
      %br
      FIREが目標です。

  .category-box
    .category-title カテゴリ一
    .side-category
      - @parents.each do |parent|
        = link_to "#{parent.name}", parent_category_path(parent), class: "side-parent"