- set_meta_tags title: '記事編集', description: '記事編集画面'

= render "header"

.wrapper
  = render 'form'

= link_to '詳細', @blog, class: "show"
\|
= link_to '戻る', blogs_path, class: "back"

= render "footer"
