= render "header"

.wrapper
  .main-content
    = render @blogs
    -# - @blogs.each do |blog|
    -#   = render partial: "blog", locals: { blog: blog}

  = render 'side'

.pagenate
  = paginate(@blogs)

= render "footer"