= render "header"

.wrapper
  %table
    %thead
      %tr
        %th 記事一覧
        %th
        %th
        %th
  .main-content
    - @blogs.each do |blog|
      .blog-content
        = link_to blog do
          .blog-box
            = image_tag blog.image.url, crop:("120x120+0+0"), class:'img-fluid' 
            %td= blog.title
            %td= blog.created_at.strftime("%Y年%m月%d日")
            -# %td= image_tag @blog.image.variant(resize_to_fill:[800,600]).processed, crop:("120x120+0+0"), class:'img-fluid' if bolg.image.present?
            %td= render 'blogs/tag_list', tag_list: blog.tag_list

  %br

  .blog-new-btn
    = link_to '新規記事作成', new_blog_path, class: "new-post"

.side-contents

= render "footer"