- set_meta_tags description: '駆け出しエンジニアが運営するブログです。プログラミングやITインフラ、自己啓発、お金などのジャンルを中心に発信しています。人生に役立つ情報をどんどん発信しているので、ぜひご覧ください！！！'

= render "header"

.wrapper
  .main-content
    = render @blogs

  = render 'side'

.pagenate
  = paginate(@blogs)

= render "footer"