- set_meta_tags title: @blog.title, description: @blog.body

= render "header"

%p#notice= notice

.wrapper
  .blog-show
    .blog-info
      .blog-time
        = @blog.created_at.strftime("%Y年%m月%d日")
      .blog-category-show
        カテゴリー：
        -# = link_to "#{@blog.category.name}", parent_category_path(@parents)
        = @blog.category.name
      .blog-tags
        タグ：
        = render 'blogs/tag_list', tag_list: @blog.tag_list
    .blog-title
      = @blog.title
    .blog-body
      = @blog.body
    .blog-user
      投稿者：
      %span.blog-user-name
        = @blog.user.name

  = render 'side'

.nav-box
  - if current_user
    .edit
      = link_to '編集', edit_blog_path(@blog)
    .destory
      = link_to '削除', @blog, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }
    .back
      = link_to '戻る', blogs_path, class:"back"
  - else
    .back
      = link_to '戻る', blogs_path, class:"back"

= render "footer"
