= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |message|
          %li= message
  .contact-box
    .contact-field
      = f.label :name, "名前（必須）"
      = f.text_field :name, class: "field", placeholder: "20文字以内"
    .contact-field
      = f.label :email, "メールアドレス（必須）"
      = f.text_field :email, class: "field", placeholder: "30文字以内"
    .contact-field
      = f.label :title, "題名"
      = f.text_field :title, class: "field", placeholder: "20文字以内"
    .contact-field
      = f.label :content, "メッセージ本文"
      = f.text_area :content, class: "text-field ", placeholder: "300文字以内"
    .contact-actions
      = f.submit '送信', class: "submit"


