= render "blogs/header"

.wrapper
  .contact-box
    %h2 お問い合わせ編集画面
    .contact-form
      = render 'form'

.rooting-info
  = link_to '詳細', @contact
  \|
  = link_to '戻る', contacts_path

= render "blogs/footer"
