= render "blogs/header"

.wrapper
  %p#notice= notice
  .contact-box
    %h2 お問い合わせ
    .contact-form
      = render 'form'

  -# = render 'blogs/side'

- if current_user
  .contact-box
    = link_to "お問い合わせ一覧へ", contacts_path
  -# = link_to 'Back', contacts_path


= render "blogs/footer"