= render "blogs/header"

.parent-name
  = @category
.wrapper
  .main-content
    - @parent.each do |blog|
      = render partial: "blogs/blog", locals: { blog: blog}

  = render 'blogs/side'
  
.pagenate
  = paginate(@parent)

= render "blogs/footer"