= render "blogs/header"

.parent-name
  = @category
.wrapper
  .main-content
    -# = render partial: "blog", locals: { blog: blog}
    - @parent.each do |blog|
      .blog-content
        = link_to blog do
          .blog-box
            .blog-image
              %td= image_tag blog.image.url, class:'img-fluid' 
            .blog-nav
              .blog-time
                %td= blog.created_at.strftime("%Y年%m月%d日")
              .blog-title
                %td= blog.title
              .blog-category
                = blog.category.name 
              .blog-tags
                %td= render 'blogs/tag_list', tag_list: blog.tag_list
              .blog-user
                = blog.user.name
                -# = blog.user_id

  = render 'blogs/side'
  
.pagenate
  = paginate(@parent)

= render "blogs/footer"