!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{:async => "", "data-ad-client" => "ca-pub-1069621813636098", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = display_meta_tags(default_meta_tags) 
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = javascript_include_tag 'application'
    = analytics_init if Rails.env.production? && !admin_user?
  %body
    = yield
